.nav {
  color: #82888C;
  font-size: 14px;
}
.nav:hover {
  color: black;
  transition: 0ms;
}

.nav:hover > #left {
  transform: translateX(-5px);
}

#left {
  display: inline-block;
  transition: 70ms;
}

.nav:hover > #right {
  transform: translateX(5px);
}

#right {
  display: inline-block;
  transition: 70ms;
}

#wrapper {
  margin-top: 2em;
  margin-bottom: 5em;
}

.float {
  max-width: 700px;
  margin: auto;
  padding: 0 15px 0 15px;
}

#title {
  font-family: 'IBM Plex Serif', serif;
  font-weight: bold;
  font-size: 28px;
  color: #4C6085;
}

#subtitle {
  font-family: 'IBM Plex Serif', serif;
  font-size: 14px;
  color: #989EA3;
}

#date {
  font-family: 'Inconsolata';
  font-size: 14px;
}

.mdx {
  font-family: 'Crimson Text', serif;
  color: #3F3F3F;
  line-height: 1.65;
}

.mdx a:hover {
  text-decoration: underline;
}

.mdx p {
  margin: 1em auto 2em auto;
  text-align: justify;
  max-width: 700px;
  font-size: 21px;
  color: #696969;
  padding: 0 15px 0 15px;
}

.mdx img {
  width: 100%;
  max-width: 900px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
