@import 'variables';
$max-content: 550px;

/* blog post tags */
.tag {
  padding: 2px 5px;
  background-color: $tag;
  font-family: 'Inconsolata';
  color: inherit;
  margin: 0.25em;
  border-radius: 2px;
}

/* previous and next navigation links */
.navlink {
  color: inherit;
  transition: 0s;
  &:hover {
    color: inherit;
    background-color: $normal;
  }
  &:before, &:after { content: "\00a0" }
}

/* Blog post info - title, subtitle, description, etc. */
.heading {
  font-family: 'Work Sans', sans-serif;
  padding: 0 20px;
}
#title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}
#subtitle, #date {
  font-size: 14px;
  font-family: "Inconsolata";
  line-height: 1.4;
  color: #696969;
}

.mdx {
  margin: 5em auto;
  font-family: 'Work Sans', sans-serif;
  color: #3F3F3F;
  line-height: 1.65;
  max-width: $max-content;
  font-size: 14px;
  img {
    display: block;
    margin: auto;
  }
  p {
    margin: 20px;
    a {
      background-color: $external;
      &:before, &:after { content: "\00a0" }
    }
  }
  h3 { margin: 20px; font-family: 'Work Sans', sans-serif;}
  blockquote {
    border-left: 5px solid lightgrey;
    font-style: italic;
    font-size: 80%;
    color: grey;
    margin: 1em;
  }
  figcaption {
    font-family: 'Inconsolata';
    text-align: center;
  }
  li[id^="fn-"] {
    font-family: 'Inconsolata';
    margin: 0 1em;
    a {
      border-bottom: none;
      &:before, &:after { content: "\00a0" }
      &:hover { background: $external }
    }
  }
}
