$max-image: 700px;
$max-content: 550px;

#nav {
  font-family: 'Work Sans', sans-serif;
  a {
    color: inherit;
    transition: 0s;
    &:hover {
      color: inherit;
      background-color: #98D2EB;
    }
  }
}

#wrapper {
  margin-top: 3em;
  margin-bottom: 5em;
}

.float {
  max-width: $max-image;
  margin: auto;
  padding: 0 15px 0 15px;
  text-align: right;
}

#title {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: 28px;
}

#subtitle, #date {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #989EA3;
}

.mdx {
  font-family: 'Work Sans', sans-serif;
  color: #3F3F3F;
  line-height: 1.65;
  color: #696969;
  max-width: $max-image;
  margin: auto;
  font-size: 15px;
  p, ul {
    max-width: $max-content;
    margin: 1em auto 1em auto;
    padding: 0 1em 0 1em;
  }
  span {
    pointer-events: none;
  }
  a {
    color: inherit;
    transition: 0s;
    border-bottom: 1.5px solid;
    &:hover {
      color: inherit;
      background-color: #FFB98B;
      border-color: transparent;
    }
  }
}
