$gutter: 2em;

.thumbnail {
  width: 100%;
  transition: all .3s ease-in-out;
  &:hover {
    opacity: 0.85;
    transform: scale(1.02);
    cursor: pointer;
  }
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $gutter;
  div {
    overflow: hidden;
  }
  @media only screen and (max-width: 1120px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 880px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
