@import 'variables';

.sidebar {
  a { &:before, &:after { content: "\00a0"; font-size: 14px; } }
  width: 250px;
  font-family: "Inconsolata";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
  padding: 2em 0 0 2em;
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  li { margin-bottom: .1em }
}

#name {
  font-size: 28px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

// normal link
.nlink {
  color: inherit;
  &:hover {
    color: inherit;
    background-color: $normal;
  }
}
.nlink-active {
  cursor: default;
  background-color: $normal;
}

// heading link
.hlink {
  color: inherit;
  &:hover {
    &:after {
      content: " •" !important;
      color: red;
    }
  }
}
.hlink-active {
  cursor: default;
  &:after {
    content: " •" !important;
    color: red;
  }
}
// external
.elink {
  color: inherit;
  &:hover {
    color: inherit;
    background-color: $external;
  }
}
