@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.footnote-ref {
  border-bottom: none !important;
  &:before, &:after { content: "\00a0"}
  background-color: #FFB98B;
}

/* Global Styles */
html, body {
  background-color: #F8F7F5 !important;
}

h1 { font-size: 54px }
h2 { font-size: 42px }
h3 { font-size: 36px }
h4 { font-size: 24px }



.top {
  font-family: 'Inconsolata';
}



.fill {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232A2C2D' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  width: 100%;
}

.nav {
  color: black !important;
}

.nav:hover .a {
  text-decoration: underline;
}
.nav:hover .b {
  transform: translateX(.25em);
}
.b {
  display: inline-block;
  transition-timing-function: ease-in;
  transition: 120ms;
}





.link {
  color: #4C6085;
  border-bottom: 2px solid transparent;
  transition: 0ms;
}
.link:hover {
  color: black;
  border-color: #4C6085;
}
