@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

code {
  word-break: break-word !important;
}

hr {
  clear: both;
    visibility: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

.footnote-ref {
  border-bottom: none !important;
  background-color: #FFB98B;
}
.footnote-ref:before, .footnote-ref:after {
  content: "\00a0";
}

/* Global Styles */
html, body {
  background-color: #F8F7F5 !important;
}

h1 { font-size: 54px }
h2 { font-size: 42px }
h3 { font-size: 28px }
h4 { font-size: 24px }

.nav {
  color: black !important;
}

.nav:hover .a {
  text-decoration: underline;
}
.nav:hover .b {
  transform: translateX(.25em);
}
.b {
  display: inline-block;
  transition-timing-function: ease-in;
  transition: 120ms;
}
