#summary {
  font-family: 'Crimson Text', serif;
}
/* ----- Link Styling -----*/
#about {
  color: #4C6085;
  border-bottom: 2px solid transparent;
  transition: 0ms;
}
#about:hover {
  color: black;
  border-color: #e03131;
}
#projects {
  color: #4C6085;
  border-bottom: 2px solid transparent;
  transition: 0ms;
}
#projects:hover {
  color: black;
  border-color: #ffb847;
}
#gallery {
  color: #4C6085;
  border-bottom: 2px solid transparent;
  transition: 0ms;
}
#gallery:hover {
  color: black;
  border-color: #5a8c2e;
}
#archive {
  color: #4C6085;
  border-bottom: 2px solid transparent;
  transition: 0ms;
}
#archive:hover {
  color: black;
  border-color: #345b9e;
}
/* ----- ------------ -----*/
