/**/


.snippet:hover {
  background-color: #F5F5F5;
  border-radius: 7px;
}

/* generic bold */
.b {
  font-weight: bold;
}

/* small headers */
.m {
  font-size: 16px;
}

/* ALL LINK STYLINFG*/
.link {
  border-bottom: 1px solid transparent;
  transition: 0.0s;
}
.link:hover {
  border-color: inherit;
}

.black-link {
  color: inherit;
  text-decoration: underline;
}
.black-link:hover {
  color: black;
  text-decoration: underline;
}

.black-link-r {
  color: inherit;

}
.black-link-r:hover {
  color: black;
  border-bottom: 1px solid black;
}

/* inherits color and transitions to grey on hover */
.grey-link {
  color: inherit;
  transition: 0.25s;
}
.grey-link:hover {
  color: #C6DDF0;
}

/* These classes are for icons in projects page */
.proj-icon {
  font-size: 16px;
}
