.header {
  font-family: 'Crimson Text';
  font-size: 18px;
  margin-bottom: .3em;
}

.footer {
  font-family: 'Inconsolata', serif;
  font-size: 13px;
}

#title {
  color: black;
  border-bottom: 2px solid transparent;
}
#title:hover {
  border-color: black;
}

#body {
  font-family: 'Crimson Text', serif;
  font-size: 13px;
  line-height: 1.8;

}
#body::first-letter {
  font-size: 48px;
  float: left;
  line-height: 0.8;
  padding: 0.1em 0.25em 0 0;
}

@media only screen and (max-width: 500px) {
  .body::first-letter {
    line-height: 0.5;
    margin: 0.4em 0.25em 0 0;
  }
}

#date {
  text-align: left;
  font-size: 14px;
  color: inherit;
}
