.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.content {
  flex: 1;
  @media screen and (max-width: 600px) {
    flex-basis: 100vw;
  }
}

.footer {
  font-family: "Inconsolata";
  font-size: 12px;
  text-align: right;
  padding: 1em;
  flex-basis: 100%;
}
